[Unit]
Description=Daily Bing Wallpaper

[Service]
Type=exec
ExecStart=/usr/share/cinnamon-bing-daily-wallpaper/cinnamon-bing-daily-wallpaper

[Install]
WantedBy=multi-user.target
